{% extends "layout.html" %} {% block title %}{{ post.title }}{% endblock %} {%
block content %}
<article>
  <h2>{{ post.title }}</h2>
  <p>
    by {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}
  </p>
  <p>{{ post.content }}</p>
</article>
<section>
  <h3>Comments:</h3>
  {% for comment in post.comments %}
  <div>
    <p>
      {{ comment.content }} - {{ comment.user.username }} on {{
      comment.date_posted.strftime('%Y-%m-%d') }}
    </p>
  </div>
  {% endfor %} {% if current_user.is_authenticated %}
  <form method="POST" action="{{ url_for('comment_post', post_id=post.id) }}">
    {{ form.hidden_tag() }}
    <div>{{ form.content.label }} {{ form.content() }}</div>
    <div>{{ form.submit() }}</div>
  </form>
  {% else %}
  <p>You must be logged in to comment.</p>
  {% endif %}
</section>
{% endblock %}
